body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Huskysta";
  src: local("Huskysta"), url(./fonts/HUSKYSTA.TTF) format('truetype');
}
.husk {
  font-family: "Huskysta";
  font-size: 100px;
}

@font-face {
  font-family: "Magenta";
  src: local("Magenta"), url(./fonts/Magenta_BBT.ttf) format('truetype');
}
.mag {
  font-family: "Magenta";
  font-size: 100px;
}

@font-face {
  font-family: "Yayusa";
  src: local("Yayusa"), url(./fonts/york-whiteletter/yorkwhiteletter.ttf) format('truetype');
}
.yay {
  font-family: "Yayusa";
  font-size: 130px;
}

@font-face {
  font-family: "Abduct";
  src: local("Abduct"), url(./fonts/thunderstrike/thunderstrikehalf.ttf) format('truetype');
}

.navi {
  border-radius: 30px 0 0 30px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Abduct";
}
